venv/
__pycache__/
*.pyc
.mlflow
mlruns
Dockerfile
.DS_Store

# Ignore actual data files, but keep DVC metadata
data/processed/
data/interim/
artifacts_local/

# Keep .dvc (we need the repo), but you can skip cache if huge
.dvc/cache/